
    <div class="deviceDetailsBlock">

        <div class="row">
            <div class="col-lg-5 device-details">
                <p><span class="deviceBlock-title">Old Phone</span></p>
                <img src="{{currentDeviceImage}}"/>
                <p><strong>{{currentDeviceModel}}</strong></p>
                <P>SERIAL #{{currentDeviceSerialNo}}</P>
                <p>ICCID:{{currentDeviceIccid}}</p>
               
            </div>
            <div class="col-lg-5 device-details">
                <p><span class="deviceBlock-title">New Phone</span></p>
                <img src="{{targetDeviceImage}}"/>
                <p><strong>{{targetDeviceModel}}</strong></p>
                <P>SERIAL #{{targetDeviceSerialNo}}</P>
                <p>ICCID:{{targetDeviceIccid}}</p>
            </div>
        </div>
    </div>

